doctype html
html(lang='en')
    include ../admin_common/head.pug
    +head("Admin Portal")
    body
        header
            include ../admin_common/navbar.pug
            +navbar(admin)
        .container
            br
            .row
                .col-sm-12.offset-md-2.col-md-8
                    if admins
                        h4.text-center Admins
                        br
                        a.btn.btn-outline-success(href="/admin/admins/register") Register New Admin
                        table.table.table-hover.table-bordered
                            thead
                                tr
                                    th Email Address
                                    th.text-center Action
                            tbody
                                for adminRow in admins
                                    tr(id=adminRow.id)
                                        p
                                            td.span #{adminRow.email}
                                            |
                                            td.text-center
                                                if admins.length !== 1 && adminRow.id !== admin.id
                                                    button.btn.btn-outline-primary.btn-sm.mr-2(onclick=`confirm("Are you sure you want to delete this admin?") ? deleteAdmin('${adminRow.id}') : null`) Delete
    include ../admin_common/footer.pug
    +footer()
    script(src="/javascripts/admins.js")