doctype html
html(lang='en')
    include ../admin_common/head.pug
    +head("Admin Portal")
    body
        header
            include ../admin_common/navbar.pug
            +navbar(user)
            .container
                .row
                    .col-sm-12.offset-md-2.col-md-8
                        br
                        .jumbotron
                            h2.text-center Edit Employee Status
                            .row
                                .col-sm-12.col-md-12
                                    form(action='/admin/emp_status/edit/' + formData.emp_stat_id, method='POST')
                                        div.formgroup
                                            label.small.mb-1.mt-3 Job Title:
                                            input(required='true', name='state', type='text', value=formData.status).form-control

                                            if (errors && errors.message)
                                                p.small.text-danger #{errors.message}
                                            button.mt-3.btn.btn-success(type='submit') Save
    include ../admin_common/footer.pug
    +footer()