doctype html
html(lang='en')
    include ../common/head.pug
    +head("Starter MVP")
    body
        header
            include ../common/navbar.pug
            +navbar()
            .container
                .row
                    .col-sm-12.offset-md-2.col-md-8
                        br
                        .jumbotron
                            h2.text-center Edit PayGrade
                            .row
                                .col-sm-12.col-md-12
                                    form(action='/admin/paygrades/edit/'+formData.paygrade_id, method='POST')
                                        div.formgroup
                                            label.small.mb-1.mt-3 Job Title:
                                            input(required='true', name='grade', type='text', value=formData.grade).form-control

                                            if (errors && errors.message)
                                                p.small.text-danger #{errors.message}
                                            button.mt-3.btn.btn-success(type='submit') Save
    include ../common/footer.pug
    +footer()