doctype html
html(lang='en')
    include ../admin_common/head.pug
    +head("Admin Portal")
    body
        header
            include ../admin_common/navbar.pug
            +navbar(user)
        .container
            br
            .row
                .col-sm-12.offset-md-2.col-md-8
                    if employee
                        h4.text-center Employee
                        br
                        a.btn.btn-outline-success(href="/admin/employee/add") Add New Employee
                        table.table.table-hover.table-bordered
                            thead
                                tr
                                    th Name
                                    th Email
                            tbody
                                for employer in employee
                                    tr
                                        p(id=employer.employee_id)
                                            td.span #{employer.f_name + " " + employer.l_name}
                                            |
                                            td.span #{employer.email}
                                            //a(href="/admin/departments/edit/" + department.department_id) Edit
    include ../admin_common/footer.pug
    +footer()
    script(src="/javascripts/admins.js")