doctype html
html(lang='en')
    include ../admin_common/head.pug
    +head("Admin Portal")
    body
        header
            include ../admin_common/navbar.pug
            +navbar(admin)
        .container
            br
            .row
                .col-sm-12.offset-md-2.col-md-8
                    if max_leaves
                        h4.text-center Maximum Leaves
                        br
                        table.table.table-hover.table-bordered
                            thead
                                tr
                                    th Pay Grade
                                    th Leave Type
                                    th.text-center Count
                            tbody
                                for leave in max_leaves
                                    tr(id = leave.id)
                                        td.span #{leave.grade}
                                        td.span #{leave.type}
                                        td.text-center.span
                                            form(action='/admin/max_leaves/edit/' + leave.leave_type_id + '/' + leave.paygrade_id, method='POST')
                                                .row
                                                    .col-sm-8.col-md-8
                                                        input(required='true', name='count', type='number', value=leave.count, min=0, max=100, class='maxLeaveCountTextBox').form-control
                                                    .col-sm-4.col-md-2
                                                        button.btn.btn-success(type='submit') Save
    include ../admin_common/footer.pug
    +footer()
    script(src="/javascripts/admins.js")