doctype html
html(lang='en')
  include ../common/head.pug
  +head("Starter MVP")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container
        .row
          .col-sm-12.offset-md-2.col-md-8
            br
            .jumbotron
              h2.text-center Sign up
              .row
                .col-sm-12.col-md-12
                  form(action='/signup', method='POST')
                    div.formgroup
                        label.small.mb-1.mt-3 Email:
                        input(required='true', name='email', type='email', value='').form-control
                        label.small.mb-1.mt-3 Password:
                        input(required='true', name='password', type='password', value='').form-control
                        label.small.mb-1.mt-3 Confirm Password:
                        input(required='true', name='confirmPassword', type='password', value='').form-control
                        if (errors && errors.message)
                            p.small.text-danger #{errors.message}
                        button.mt-3.btn.btn-success(type='submit') Register
                        p.mt-2.mb-0
                            | Already have an account? #[a(href="/login") Log in here]
  include ../common/footer.pug
  +footer()