mixin navbar(admin)
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='/admin') Admin Logo
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon

        .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.mr-auto
                if admin
                    li.nav-item.active
                        a.nav-link(href='/admin') Home
                    li.nav-item
                        a.nav-link(href='/admin/admins') Admins
                    li.nav-item
                        a.nav-link(href='/admin/departments') Departments
                    li.nav-item
                        a.nav-link(href='/admin/jobs') Jobs
                    li.nav-item
                        a.nav-link(href='/admin/paygrades') PayGrades
                    li.nav-item
                        a.nav-link(href='/admin/emp_status') Employee Status
                    li.nav-item
                        a.nav-link(href='/admin/leave_types') Leave Types
                    li.nav-item
                        a.nav-link(href='/admin/max_leaves') Maximum Leaves
                    //- li.nav-item
                    //-   a.nav-link(href='/parking') Parking
                    //- li.nav-item
                    //-   a.nav-link(href='/places') Places
            ul.navbar-nav.float-right
                if admin
                    li.nav-item
                        a.nav-link(href='/admin/logout') Logout
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Accounts
                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='#') Settings