.table-action{
  padding: 5px 25px;
}

.table-action:hover {
  padding: 5px 24px;
  color: #2AA198;
  border: 1px solid #2AA198;
  border-radius: 5px;
  text-decoration: none;
  background-color: #2AA198;
  color: aliceblue;
}

.profile-col {
  width: 110px;
}

.card-padding {
  padding: 10px;
}

.profile-header {
  background-color: #2C3E50;
  color: aliceblue;
  padding: 20px;
}