.table-action{
  padding: 5px 25px;
}

.table-action:hover {
  padding: 5px 24px;
  color: #2AA198;
  border: 1px solid #2AA198;
  border-radius: 5px;
  text-decoration: none;
  background-color: #2AA198;
  color: aliceblue;
}