doctype html
html(lang='en')
  include ../common/head.pug
  +head("Starter MVP")
  body
    header
      include ../common/navbar.pug
      +navbar(user)
    h1 #{title}
    p
      span #{lead.email}
      |
      a(href="/leads/" + lead.id + "/edit" ) Edit
      |
      form(action="/lead/" + lead.id + "/delete", method="POST")
        button(type="submit") Delete
  include ../common/footer.pug
  +footer()
